<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Y5blvo9xCQG2zuDKFbmR-klS2cJkrcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>250737362854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tander.app</string>
	<key>PROJECT_ID</key>
	<string>tander-2fa00</string>
	<key>STORAGE_BUCKET</key>
	<string>tander-2fa00.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250737362854:ios:4f4f4983ba09a320caf167</string>
</dict>
</plist>